


<h2>Eventos</h2>
<hr>

<div>
  <div class="row">
    <input [(ngModel)]="filtroLista" class="col-4 mx-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success col-2 mx-1" type="submit">Search</button>
  </div>

  Search: {{filtroLista}}
</div>

<br/>

<div class="row">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">
          <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
            {{!exibirImagem ? 'exibir' : 'ocultar'}}
          </button>
        </th>
        <th scope="col">Tema</th>
        <th scope="col">Local</th>
        <th scope="col">Data</th>
        <th scope="col">Quantidade de Pessoas</th>
        <th scope="col">Lote</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <!--Diretivas-->
      <tr *ngFor="let evento of eventosFiltrados">
        <td>
          <!--Properties Binding-->
          <img [collapse]="exibirImagem" [isAnimated]="true" src="assets/Imagens/{{evento.imagem}}" width="100px" height="80px">
        </td>
        <!--Interpolacao-->
        <td>{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.data}}</td>
        <td>{{evento.quantidade}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.lote}}</td>
        <td>{{evento.opcoes}}</td>
      </tr>
    </tbody>
  </table>
</div>
